/Code/docs/
/Code/JavaWrappers/gmwrapper/src/*
/Code/JavaWrappers/gmwrapper/doc/*
/Code/JavaWrappers/gmwrapper/build/*
/Code/JavaWrappers/gmwrapper/build-test/*
/Code/JavaWrappers/csharp_wrapper/swig_csharp/*.cs
/Code/JavaWrappers/csharp_wrapper/swig_csharp/*.cxx
/Code/JavaWrappers/csharp_wrapper/swig_csharp/bin
/Code/JavaWrappers/csharp_wrapper/swig_csharp/obj
/Code/JavaWrappers/csharp_wrapper/RdkitTests/bin
/Code/JavaWrappers/csharp_wrapper/RdkitTests/obj
/Data/Fonts/ComicNeue-*
/Data/Fonts/OFL.txt
/vcpkg/*
#- Eclipse files
/.project
/.pydevproject
/.cproject
/.settings/

#- CLion files
/cmake-build-*

#- IDEA files
/.idea

#- VS Code files
/.vscode
/.vs

#- Binary files
__pycache__/
*.so
*.pyc
/lib/
*.pyd

#- autosaves and backups
*~

#- Files created during build phase
/build*/
/Docs/Book/_build*/

/Code/RDBoost/test.h
/Code/RDGeneral/RDConfig.h
/Code/RDGeneral/export.h
/Code/RDGeneral/test.h
/Code/RDGeneral/versions.h
/Code/RDGeneral/versions.cpp

/Code/GraphMol/SLNParse/lex.yysln.cpp
/Code/GraphMol/SLNParse/sln.tab.cpp
/Code/GraphMol/SLNParse/sln.tab.hpp

/Code/GraphMol/SmilesParse/lex.yysmarts.cpp
/Code/GraphMol/SmilesParse/lex.yysmiles.cpp
/Code/GraphMol/SmilesParse/smarts.tab.cpp
/Code/GraphMol/SmilesParse/smarts.tab.hpp
/Code/GraphMol/SmilesParse/smiles.tab.cpp
/Code/GraphMol/SmilesParse/smiles.tab.hpp

/External/**/*.tar.gz
/External/**/*.zip
/External/AvalonTools/SourceDistribution
/External/CoordGen/coordgen/
/External/CoordGen/maeparser/
/External/Eigen/eigen/
/External/FreeSASA/freesasa*/
/External/INCHI-API/INCHI-1-SRC/
/External/INCHI-API/src/
/External/RingFamilies/RingDecomposerLib/
/External/YAeHMOP/yaehmop/
/External/catch/catch/
/External/rapidjson*/

/rdkit/RDPaths.py
/rdkit/Chem/inchi.py

#- Files created during tests
/Code/ForceField/MMFF/test_data/MMFF94_dative_min.sdf
/Code/ForceField/MMFF/test_data/MMFF94_dative_min_from_SMILES.sdf
/Code/ForceField/MMFF/test_data/MMFF94_hypervalent_min.sdf
/Code/ForceField/MMFF/test_data/MMFF94_hypervalent_min_from_SMILES.sdf
/Code/ForceField/MMFF/test_data/MMFF94_reference.log
/Code/ForceField/MMFF/test_data/MMFF94s_reference.log
/Code/ForceField/MMFF/test_data/testMMFFForceField.log

/Code/GraphMol/Depictor/test_data/cis_trans_cpp.out.sdf
/Code/GraphMol/Depictor/test_data/collisions.out.sdf
/Code/GraphMol/Depictor/test_data/first_200.out.sdf
/Code/GraphMol/Depictor/test_data/test1.out.sdf
/Code/GraphMol/Depictor/test_data/constrainedCoords.out.sdf


/Code/GraphMol/FileParsers/test_data/blah.sdf
/Code/GraphMol/FileParsers/test_data/blah_molsupplier.sdf
/Code/GraphMol/FileParsers/test_data/cdk2_stereo.sdf
/Code/GraphMol/FileParsers/test_data/cdk2_stereo_molsupplier.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_few.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_few.tdt
/Code/GraphMol/FileParsers/test_data/outNCI_few.sdf_molwriter.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_few_molsupplier.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_few_molwriter.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_few_molwriter.tdt
/Code/GraphMol/FileParsers/test_data/outNCI_first_200.props.sdf
/Code/GraphMol/FileParsers/test_data/outNCI_first_200.props_molwriter.sdf
/Code/GraphMol/FileParsers/test_data/outSmiles.csv
/Code/GraphMol/FileParsers/test_data/outSmiles_molsupplier.csv
/Code/GraphMol/FileParsers/test_data/outSmiles_molwriter.csv
/Code/GraphMol/FileParsers/test_data/testSGroupsSample_V?000.mol
/Code/GraphMol/FileParsers/test_data/testSubstanceGroupsSample_V?000.mol

/Code/GraphMol/ForceFieldHelpers/UFF/test_data/Issue62.sdf

/Code/GraphMol/MolAlign/test_data/ref_e2_pyCrippenO3A.sdf

/Code/GraphMol/MolDraw2D/Comic_Neue.zip

/Code/GraphMol/MolTransforms/test_data/github4302_canon.sdf

/Code/GraphMol/Wrap/test_data/bilastine_trajectory.sdf
/Code/GraphMol/Wrap/test_data/outMaeWriter.mae
/Code/GraphMol/Wrap/test_data/outNCI_few.sdf
/Code/GraphMol/Wrap/test_data/outSmiles.txt

/Code/GraphMol/test_data/bilastine_trajectory.sdf
/Code/GraphMol/test_data/prop.pkl

/Projects/DbCLI/testData/bzr/

/rdkit/Chem/Draw/similarityMap1_out.svg
/rdkit/Chem/Draw/similarityMap1_out2.svg
/rdkit/Chem/Draw/similarityMap1_out3.svg

/rdkit/sping/tests/testallps.ps

/rdkit/ML/Data/test_data/testgeneral.dat.pkl
/rdkit/ML/Data/test_data/testquant.qdat.pkl
.DS_Store

# JS distribution or temp files
Code/MinimalLib/dist
MAIN_RDKIT_README*
node_modules
