[epydoc]

modules: Chem,DataManip, DataStructs, Dbase, DistanceGeometry, ForceField, Geometry, Logger, ML, Numerics, PySVD, rdBase, RDConfig, RDLogger, RDRandom, SimDivFilters, VLib 
output: html
target: docs/

docformat: plaintext
parse: yes
introspect: yes
exclude: .*UnitTest.*, .*test_list.py
inheritance: listed
private: yes
imports: yes
sourcecode: yes
name: RDPython
url: http://www.rdkit.org
link: <a href="http://www.rdkit.org">RDKit</a>

