[epydoc]

modules: Chem,DataManip, DataStructs, Dbase, DistanceGeometry, ForceField, Geometry, ML, Numerics, rdBase, RDConfig, RDRandom, SimDivFilters, VLib, Avalon
output: html
target: docs/

docformat: plaintext
parse: yes
introspect: yes
exclude: UnitTest.*|test*
inheritance: listed
private: yes
imports: yes
sourcecode: yes
name: RDPython
url: http://www.rdkit.org
link: <a href="http://www.rdkit.org">RDKit</a>

