Required pieces for the RDKit software
Last update: $Date$
By: Greg Landrum

A. Required Python and the like:
   1) Python 2.3 or later 
   2) Numeric Python (numpy.sourceforge.net)
      binary versions for windows can be downloaded here:
      http://biopython.org/DIST/Numeric-24.2.win32-py2.5.exe
   3) [not required with Python2.5 and later] A database wrapper, one of:
      - pyPgSQL (http://pypgsql.sourceforge.net/) 
      - pysqlite2 (http://www.initd.org/tracker/pysqlite/wiki/pysqlite)
   4) PIL: the python imaging library
      (http://www.pythonware.com/products/pil/index.htm)

B. Optional Python:
   1) PyQt: (http://www.riverbankcomputing.co.uk/pyqt/)
      This is required to use the GUI tools.
      Note that you need qt v3.x, not v4.x.
   2) The egenix mx base package:
      http://www.egenix.com/files/python/eGenix-mx-Extensions.html
      also required for the GUI tools
   3) aggdraw: a library for high-quality drawing in
      Python. Instructions for downloading are here:
      http://effbot.org/zone/aggdraw-index.htm
      The new (May 2008) drawing code has been tested with v1.2a3 of
      aggdraw. 
 
C. Other required stuff
   1) The boost libraries v1.33 or later (tested with 1.33, 1.34, and 1.35)
   2) PostgreSQL (only if you're using pyPgSQL)
  
D. Optional, but useful things to have on windows:
   1) Some form of chemdraw
   2) MS-Excel 
   3) cygwin

E. Required environment variables:
   - RDBASE pointing to the root of the distribution
   - PYTHONPATH: should include $RDBASE/Python
   - PATH: should include $RDBASE/bin
   - On Linux: LD_LIBRARY_PATH should include $RDBASE/bin



