Required pieces for the RDKit software
Last update: $Date$
By: Greg Landrum

A. Required Python and the like:
   1) Python 2.3 or later 
   2) Numeric Python (numpy.sourceforge.net)
   3) [not required with Python2.5 and later] A database wrapper, one of:
      - pyPgSQL (http://pypgsql.sourceforge.net/) 
      - pysqlite2 (http://www.initd.org/tracker/pysqlite/wiki/pysqlite)
   4) PIL: the python imaging library
      (http://www.pythonware.com/products/pil/index.htm)

B. Optional Python:
   1) PyQt: (http://www.riverbankcomputing.co.uk/pyqt/)
      This is required to use the GUI tools.
      Note that you need qt v3.x, not v4.x.
   2) The egenix mx base package:
      http://www.egenix.com/files/python/eGenix-mx-Extensions.html
      also required for the GUI tools
   
B. Other required stuff
   1) The boost libraries v1.33 or later (tested with 1.33 and 1.34)
   2) boost logging (not yet part of the boost libraries themselves)
      needs to be installed. There is a working distribution in
      $RDBASE/boost_logging that can be copied into the boost distribution 
      directory and built there.
   3) PostgreSQL (if you're using pyPgSQL)
  
C. Optional, but useful things to have on windows:
   1) Some form of chemdraw
   2) MS-Excel 
   3) cygwin

D. Required environment variables:
   - RDBASE pointing to the root of the distribution
   - BOOSTBASE (for example boost-1_33)
   - PYTHONPATH: should include $RDBASE/Python
   - On Linux:
     - PYTHON_ROOT (for example /usr or /usr/local)
     - PYTHON_VERSION (for example 2.5)
     - RDOPTFLAGS (for example -O3) 
     - RDF77LIB (for example "-g2c") 



